* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 600px;
  min-height: 100vh;
  margin: 3rem auto;
  text-align: center;
  font-family: Helvetica;
  background-color: #f5f5f5;
}

h1 {
  font-size: 100px;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
}

#myForm input, #myList li {
  width: 100%;
  padding: 1rem 1.5rem;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
}

#myForm input {
  width: 100%;
  outline: none;
}

#myList {
  text-align: left;
}

#myList li {
  display: flex;
  position: relative;
  align-items: center;
  list-style-type: none;
  word-break: break-word;
}

#myList input[type="checkbox"] {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: .8rem;
}

#myList label {
  width: 100%;
  display: inline-block;
  padding: 1rem 0;
}

#myList span {
  opacity: 0;
  margin-left: auto;
  color: #b83f457a;
  cursor: pointer;
  font-weight: 400;
}

#myList span:hover{
  color: #b83f45
}

#myList li:hover span {
  opacity: 1;
  transition-duration: .5s;
}

#myList #editForm {
  position: absolute;
  background-color: #fff;
  z-index: 1;
}

#myList #editForm {
  opacity: 0;
  width: 0;
  height: 0;
}

#myList #editForm:focus-within {
  opacity: 1;
  width: calc(100% - 40px);
  height: 50%;
}
#myList #editForm input {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}
#myList #editForm input:focus {
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
}